img{
    width: 40px;
    margin: auto;
    border: aqua solid 1px;
}
.alert{
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
}
h1{
    font-family: "Roboto Thin";
    font-size: 1.5em;
}